<div class="body">
  <div class="word-top table-div">
    <div class="tr">
      <div class="td">
        <div class="level">
          <span>　　</span>
        </div>
      </div>
      <div class="td middle">
        <select ng-model="unit" ng-options="unit.name for unit in units track by unit.value"
        ng-change="nextProblem('')"></select>
        <select ng-model="div" ng-change="nextProblem('')" ng-init="div='all'">
          <option value="all">Word/Sentence</option>
          <option value="word">Word</option>
          <option value="sentence">Sentence</option>
        </select>
        <input ng-model="toggleAutoplay" type="checkbox"
                ng-init="toggleAutoplay=false"><span>자동재생</span></input>
        <input ng-model="toggleInverse" type="checkbox"
        ng-init="toggleInverse=false" ng-change="hideProblem(); nextProblem('')"><span>거꾸로</span></input>
      </div>
      <div class="td">
        <div class="score">
          <span>　　</span>
        </div>
      </div>
    </div>
  </div>
  <div class="word-question">
    <p ng-cloak ng-show="toggleInverse">{{question.answer.english}} {{question.answer.korean}}</p>
    <p ng-cloak ng-show="!toggleInverse">{{question.answer.latin}}</p>
    <!--<p ng-show="question.answer.meaning != null">{{question.answer.meaning}}</p>-->
  </div>
  <div class="word-info">
    <!--relation word
    <p ng-show="question.answer.etc != null">[{{question.answer.etc}}]</p>-->
    <!--sound-->
    <audio id="audio" controls preload="none"
    ng-src="{{getAudioUrl()}}">
    </audo>
  </div>
  <div class="word-choices">
    <ul>
      <li ng-repeat="choice in question.choices">
        <p ng-click="choose(choice.latin)" ng-show="toggleInverse">{{choice.latin}}</p>
        <p ng-click="choose(choice.latin)" ng-show="!toggleInverse">{{choice.korean}} {{choice.english}}</p>
      </li>
    </ul>
  </div>
</div>
