<div class="body">
  <div class="word-top table-div">
    <div class="tr">
      <div class="td">
        <div class="level">
          <span>{{total}}</span>
        </div>
      </div>

      <div class="td middle">
        <select ng-model="unit" ng-options="unit.name for unit in units track by unit.value"
        ng-change="init()" style="display:none;"></select>
        <select ng-model="unitFrom" ng-options="unit.name for unit in units track by unit.value"
        ng-change="init(); unitTo=unitFrom"></select>
        <select ng-model="unitTo" ng-options="unit.name for unit in units track by unit.value"
        ng-change="init()"></select>

        <select ng-model="tp" ng-change="init()" ng-init="tp='all'">
          <option value="all">All</option>
          <option value="words">Word</option>
          <option value="sentences">Ex</option>
        </select>

        <select ng-model="quizType" ng-change="init()"
        ng-init="quizType='Random'">
          <option value="Random">Random</option>
          <option value="LaEn">Latin>Eng</option>
          <option value="EnLa">Eng>Latin</option>
        </select>

        <select ng-model="quizSize" ng-change="init()"
        ng-init="quizSize='10'">
          <option value="0">All</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
        </select>

      </div>
      <div class="td">
        <div class="score">
          <span>{{pos+1}} / {{quizzes.length}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="word-question">
    <p ng-cloak ng-show="toggleInverse">{{quiz.answer.english}} {{quiz.answer.korean}}</p>
    <p ng-cloak ng-show="!toggleInverse">{{quiz.answer.latin}}</p>
    <!--<p ng-show="question.answer.meaning != null">{{question.answer.meaning}}</p>-->
  </div>
  <div class="word-info">
    <!--relation word
    <p ng-show="question.answer.etc != null">[{{question.answer.etc}}]</p>-->
    <!--sound-->
    <audio id="audio" controls preload="none"
    ng-src="{{getAudioUrl()}}">
    </audio>
    <input ng-model="toggleAutoplay" type="checkbox"
    ng-init="toggleAutoplay=false"><span>자동재생</span></input>
  </div>
  <div class="word-choices">
    <ul>
      <li ng-repeat="choice in quiz.choices">
        <p ng-click="choose(choice.latin)" ng-show="toggleInverse">{{choice.latin}}</p>
        <p ng-click="choose(choice.latin)" ng-show="!toggleInverse">{{choice.korean}} {{choice.english}}</p>
      </li>
    </ul>
  </div>

</div>
