<div class="body">
  <div class="exercise-body table-div">

    <div class="tr">
      <div class="td">
      </div>
      <div class="td">
        <b>Unit </b>
      </div>
      <div class="td">
        <select ng-model="unit" ng-options="unit.name for unit in units track by unit.value"
        ng-change="drawList()"  ng-init="unit=1;"></select>
      </div>
    </div>
    <div class="tr">
      <div class="td">
        <b>id</b>
      </div>
      <div class="td">
        <b>Latin</b>
        <button class="btn btn-default" ng-click="toggleLatin();">Toggle all</button>
      </div>
      <div class="td">
        <b>English</b>
        <button class="btn btn-default" ng-click="toggleEnglish();">Toggle all</button>
      </div>
    </div>

    <div class="tr"  ng-repeat="exercise in exercises">
      <div class="td seq">
        {{exercise.id}}
      </div>
      <div class="td latin"
      ng-click="exercise.showLatin = exercise.showLatin ? false : true;">
        <p ng-show="!exercise.showLatin">{{exercise.latin}}</p>
      </div>
      <div class="td english"
      ng-click="exercise.showEnglish = exercise.showEnglish ? false : true;">
        <p ng-show="!exercise.showEnglish">{{exercise.english}}</p>
      </div>
    </div>

  </div>
</div>
