<div class="body">
  <div class="word-top table">
    <div class="tr">
      <div class="td">
        <div class="countdown">
          <span>{{question.info.level}}</span>
        </div>
      </div>
      <div class="td middle">
      </div>
      <div class="td">
        <div class="score">
          <span>{{question.info.score}}/{{question.info.totalWordCount}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="word-question">
    <p>{{question.answer.titleWord}}</p>
    <p ng-show="question.answer.desc != null">{{question.answer.desc}}</p>
  </div>
  <div class="word-choices">
    <ul>
      <li ng-repeat="choice in question.choices" >
        <p ng-click="choose(choice.titleWord)">{{choice.korean}} {{choice.english}}</p>
      </li>
    </ul>
  </div>
</div>
