<div class="body">
  <div class="word-top table-div">
    <div class="tr">
      <div class="td">
        <div class="level">
          <span>{{question.info.level}}</span>
        </div>
      </div>
      <div class="td middle">
        <input ng-model="toggleRelationWord" type="checkbox"><span>연관어보기</span></input>
        <input ng-model="toggleAnswer" type="checkbox"><span>정답보기</span></input>
      </div>
      <div class="td">
        <div class="score">
          <span>{{question.info.score}} / {{question.info.totalWordCount}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="word-question">
    <p>{{question.answer.titleWord}}<br/>{{question.answer.meaning}}</p>
    <!--<p ng-show="question.answer.meaning != null">{{question.answer.meaning}}</p>-->
  </div>
  <div class="word-info">
    <!--relation word-->
    <p ng-show="toggleRelationWord && question.answer.more != null">연관어 : {{question.answer.more}}</p>
    <p ng-show="toggleAnswer">정답 : {{question.answer.korean}} {{question.answer.english}}</p>
    <!--sound-->
    <audio controls preload="none" 
    ng-src="{{getAudioUrl()}}">
    </audo>
  </div>
  <div class="word-choices">
    <ul>
      <li ng-repeat="choice in question.choices" >
        <p ng-click="choose(choice.titleWord)">{{choice.korean}} {{choice.english}}</p>
      </li>
    </ul>
  </div>
</div>
