<div class="body">
  <div class="word-top table-div">
    <div class="tr">
      <div class="td">
        <div class="level">
          <span>{{total}}</span>
        </div>
      </div>
      <div class="td middle">
        <select ng-model="unit" ng-options="unit.name for unit in units track by unit.value"
        ng-change="initPos(); initWords()"></select>
        <input ng-model="toggleAutoplay" type="checkbox"
                ng-init="toggleAutoplay=false"><span>자동재생</span></input>
      </div>
      <div class="td">
        <div class="score">
          <span>{{pos+1}} / {{words.length}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="word-question">
    <p>{{word.titleWord}}</p>
    <!--<p ng-show="word.meaning != null">{{word.meaning}}</p>-->
  </div>
  <div class="word-info">
    <!--relation word-->
    <p ng-show="word.derivation != null">[{{word.derivation}}]</p>
    <!--sound-->
    <audio id="audio" controls preload="none"
    ng-src="{{getAudioUrl()}}">
    </audo>
  </div>
  <div class="word-choices">
    <ul>
      <li>
        <p ng-click="next()"  class="answer">{{word.english}} {{word.korean}}</p>
      </li>
    </ul>
  </div>
</div>
