.table-div{
  display:table;
  margin-bottom: 0;
}

.tr{
  display:table-row;
}

.td{
  display:table-cell;
}

.left{
  text-align : left;
}

.right{
  text-align : right;
}

.middle{
  width:100%;
  text-align:center;
  vertical-align:middle;
}

.hide{
  display:none;
}

/********/
/* word */
/********/

.body{
  margin: 0 5vw;
}

.word-top{
}

.level{
  background-color : #CC0000;
  color : white;
  width:5vh;
  height:5vh;
  line-height:5vh;
  text-align:center;
}

.level p{
  margin:auto;
}

.score{
  background-color : #0066CC;
  color : white;
  width:15vh;
  height:5vh;
  line-height:5vh;
  text-align:center;
}

.score p{
  margin:auto;
}

div.word-question{
  background-color : #006600;
  color: #EEEEEE;
  margin : 2vh 0;
  width : 100%;
  height: 25vh;
  display: table;
  padding : 0vh 5vw;
}

.word-question p{
  font-size :5vh;
  text-align:center;
  vertical-align: middle;
  display: table-cell;
  line-height: 1.3;
}

div.word-info{
  background-color : #CCCCCC;
  color: #222222;
  margin : 2vh 0;
  width : 100%;
  padding : 1vh 5vw;
}

.word-info p{
  margin:1vh 0;
}

.word-info audio{
  margin: 0 0;
}

.word-choices{

}

.word-choices ul{
  padding:0px;
}

.word-choices li{
  list-style-type: none;
  background-color : #CCCCAA;
  margin : 2vh 0;
}

.word-choices li:active{
  background-color : #333300;
  color: #EEEEEE;
}

.word-choices li p{
  padding:2vh 2vw;
}

/*************/
/* converter */
/*************/
.convert textarea{
  width:100%;
  height:70vh;
  padding: 1vh 2vw;
}

.convert button{
  margin:2vh 0;
  float:right;
}
