.table{
  display:table;
}

.tr{
  display:table-row;
}

.td{
  display:table-cell;
}
/********/
/* word */
/********/
.word-top{

}

.word-question{
  background-color : #CCDDFF;
  margin : 2vh 5vw;
  padding : 5vh 5vw;
}

.word-choices{

}

.word-choices ol{
  list-style-position: inside;
  padding:0px;
}

.word-choices li{
  background-color : #6699CC;
  margin : 2vh 5vw;
  height : 5vh;
  line-height : 5vh;
  padding : 0 2vh;
}
