<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="latinApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="latinApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="latinApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="latinApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Latin!</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css css/app.css -->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- endbuild -->
</head>


<body ng-controller="mainCtrl">

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{userId}}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="getClass('/word')"><a href="#/word">Word</a></li>

          <li ng-class="getClass('/sentence')"><a href="http://54.92.94.180/">Sentence</a></li>

	  <!--
          <li ng-class="getClass('/forum')"><a href="http://forum.tarpan.us">Forum</a></li>
	  -->
          <li ng-class="getClass('/converter')"><a href="#/converter">āēīōū Converter</a></li>

          <li ng-class="getClass('/id')"><a href="" ng-click="regist()">아이디 변경</a></li>

          <!--
          <li class="dropdown">
            <a>
              <select ng-model="selectedUnit"
              ng-options="unit.label for unit in units">
              <option>Unit</option>
              </select>
            </a>
          </li>
        -->

	  <li><a href="https://docs.google.com/spreadsheets/d/11112k2YoMzePZcbvZTSnFU8YDgKqSgBbgCjwWXeFhDA/edit?usp=sharing">Source</a></li>
        </ul>



        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <!-- build:js js/app.js -->
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

  <script src="app.js"></script>
  <script src="word/word.js"></script>
  <script src="converter/converter.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- endbuild -->
</body>
</html>
